@import './shared.css';

* { font-family: 'Quicksand'; color: #2a2a2a; }

html, body { margin: 0; padding: 0; font-size: 15px; overflow-x: hidden; height: 100%; }

avct-root { width: 100%; height: 100%; }

#main { width: 100%; height: 100%; display: flex; }

img { max-width: 100%; }

avct-table {
    overflow: scroll;
    height: 100%;
    display: block;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    border-bottom: 1px solid #c5c5cc;
    position: sticky;
    z-index: 1;
    background: #FFF;
    top: 0;
    padding: 4px 2px;
    user-select: none;
}

th span { /* resize handle */
    position: absolute;
    visibility: hidden;
    right: 0;
    top: 0;
    bottom: 0;
    width: 4px;
    display: block;
    background: #e0e0e0;
    cursor: e-resize;
}

th:hover span {
    visibility: visible;
}

th:hover span:hover {
    background: #c5c5cc;
}

th span.active {
    visibility: visible;
    background: #7986CB;
}

tbody td {
    border-bottom: 1px solid #e0e0e0;
    padding: 2px;
    position: relative; 
}

.td-hover { display: none; }

td:hover .td-hover { display: initial; }

.table-settings {
        visibility: hidden;
    position: absolute;
    right: 2px;
    top: 2px;
}

tr:hover .table-settings {
    visibility: visible;
}

.handle-drag-modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.025);
    z-index: 100;
}

.handle-drag-modal.resize { cursor: e-resize; }
.handle-drag-modal.move { cursor: move; }

tfoot td {
    text-align: center;
    padding: 16px;
}

.error {
    content: '⚠ ' attr(invalid);
    background: #d32f2f;
    font-size: 12px;
    color: #fff;
    display: inline-block;
    line-height: 18px;
    height: 18px;
    border-radius: 9px;
    padding: 0 6px;
    margin: 2px;
}

avct-clips {
}

avct-clip-score, avct-clip-race, avct-clip-role {
    user-select: none;
}

avct-clip-score button, avct-clip-score button:hover, avct-clip-score:active {
    background: none; border: 0 none; padding: 0; margin: 0; cursor: pointer; box-shadow: none;
}

avct-clip-score button.preview {
    color: #4E1379;
    text-shadow: 0 1px 1px #9a23a1;
}

avct-clip-race > .round-button { margin-left: 4px; }

avct-clip-role > span, avct-tag-list > span {
    display: inline-block;
    background: #DEBEDF;
    padding: 2px 4px;
    margin: 2px;
    border-radius: 4px;
    position: relative;
}

.resolution-indicator {
    border-radius: 50%;
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: middle;
}