<header>
  <div class="inline-block">
    1244 clips
    <button type="button" class="btn btn-default" ng-click="reload()" ng-disabled="reloading">Force reload</button>
  </div>
  <div class="split"></div>
  <div class="inline-block">
    Thumb size
  </div>
  <div class="inline-block">
    <input style="width: 100px" type="range" min="20" max="200" ng-model="thumbSize" />
  </div>
  <div class="split"></div>
  <div class="inline-block">
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="voidFirst"> Void first
      </label>
    </div>
  </div>
  <div class="split"></div>
  <div class="inline-block">
    <button type="button" class="btn btn-primary">Advanced QuickJerk</button> or 
    <div class="btn-group">
      <button type="button" class="btn btn-default">Random</button>
      <button type="button" class="btn btn-default">Grade</button>
      <button type="button" class="btn btn-default">Least recent</button>
      <button type="button" class="btn btn-default">Most recent</button>
    </div>
  </div>
  <div class="split"></div>
  <div class="inline-block">
    <a href="">Tag manager</a>
  </div>
</header>
<table class="table table-hover" flex-table>
  <tr>
    <th name="thumb" draggable="true">Thumb</th>
    <th name="name" draggable="true">Name <!-- hover for location/open --></th>
    <th name="studio" draggable="true">Studio</th>
    <th name="race" draggable="true">Race <!-- reduced to 3 --></th>
    <th name="role" draggable="true">Role <!-- multiple! --></th>
    <th name="grade" draggable="true">Grade</th>
    <th name="tags" draggable="true">Tags</th>
    <th name="size" draggable="true">Size/MB</th>
    <th name="duration" draggable="true">Duration</th>
    <th name="history" draggable="true">History</th>
  </tr>
  <tr ng-repeat="clip in clips" clip-tr></tr>
</table>