body {
    padding: 0 10px;
}

header {
    padding: 10px 0;
}

.inline-block {
    display: inline-block;
}

.split {
    height: 20px;
    width: 1px;
    background-color: #CCC;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

.shadow-left {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0) 3px);
}

.shadow-right {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0) 3px);
}