.tag, .tag:visited {
    display: inline-block;
    margin: 0 5px 5px 0;
    color: inherit;
    background: #F0F0FF;
    padding: 0 5px;
    tr:hover & {
        background: #E0E0FF;
    }
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

.hidden {
    display: none;
}