// layout

#wrap {
    position: fixed;
    width: 100%;
    height: 100%;
}

#root {
    height: calc(~"100% - 64px");
    overflow-y: auto;
}

// table

.tag, .tag:visited {
    display: inline-block;
    margin: 0 5px 5px 0;
    color: inherit;
    background: #F0F0FF;
    padding: 0 5px;
    tr:hover & {
        background: #E0E0FF;
    }
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

.hidden {
    display: none;
}

td {
    position: relative;
}

.clip-thumb {
    max-width: 100%;
}

nav.navbar {
    padding-right: 15px; // hack; we don't use container
    margin-bottom: 0;
}

.navbar-form .checkbox {
    padding-top: 6px; // fix Bootstrap bug
}

@media (max-width: 1080px) { // not using Bootstrap's collapse
    nav.navbar .btn-group {
        display: none;
    }
}

// modal

.modal {
    // not using Bootstrap's fade
    transition-duration: .5s;
    display: block;
    background: rgba(0, 0, 0, 0.3); // replace original drop
    overflow-y: auto; // do not use Bootstrap's method, it's too magical
    body.loaded & {
        opacity: 0;
        pointer-events: none;
        &.active {
            opacity: 1;
            pointer-events: auto;
        }
    }
}

.modal-dialog {
    display: none; // hide on this level (different from Bootstrap)
}

#loading {
    display: block;
}

// misc

.toolbox {
    display: none;
    position: absolute;
    #modal-container &, #wrap & {
        display: block;
    }
}

#file-overlay {
    .btn {
        margin-bottom: 4px;
    }
    width: 100%;
    height: 100%;
    padding: 8px;
    left: 0;
    top: 0;
    overflow-y: auto;
    background: #FFF; // specified by Bootstrap theme. NOT graceful.
    tr:hover & {
        background: #f5f5f5; // specified by Bootstrap theme. NOT graceful.
    }
}

#inplace-edit {
    left: 100%;
    height: 110px; // specified by Bootstrap theme. NOT graceful.
    top: calc(~"50% - 55px");
}
