table.flextable {
  table-layout: fixed;
}

table.flextable th {
  cursor: move;
}

table.flextable th.shadow-left, table.flextable th.shadow-right {
  background-image: linear-gradient(black, black);
  background-size: 1px 100%;
  background-repeat: no-repeat;
}

table.flextable th.shadow-left {
  background-position: left;
}

table.flextable th.shadow-right {
  background-position: right;
}

table.flextable th.shadow-doubled {
  background-size: 2px 100%;
}

table.flextable th {
  position: relative;
  min-width: 16px;
}

table.flextable th .resize-handle {
  position: absolute;
  right: 0;
  top: 0;
  width: 8px;
  height: 100%;
  background: black;
  cursor: e-resize;
  opacity: 0;
}

table.flextable th .resize-handle:hover {
  opacity: 0.4;
}

table.flextable th .resize-handle:active {
  opacity: 0.8;
}

table.flextable td {
  word-wrap: break-word;
}
